Options -MultiViews
RewriteEngine On

#RewriteBase /src/public/

# # directory check
RewriteCond %{REQUEST_FILENAME} !-d
# # file check
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

#RewriteRule ^(.*)$ index.php [QSA,L]